*{
    padding: 0%;
    margin: 0%;
}

header {
    background-image: url(/image/header_bg_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70rem;
}

/* navbar */
#navbar ul{
    display:flex;
    font-family: 'Libre Baskerville', serif;
    font-weight: 150;
    font-size: 1.5rem;
    justify-content: space-evenly;
    padding-top: 2.5%;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#home{
    margin-left: 20%;
}

#logo{
    color:white;
}

#home :hover, #about :hover, #domain :hover, #projects :hover, #contact :hover, #teamMembers :hover{
    color: #00BFFF;
    transition: all 4ms ease;
    opacity: 0.7;
}

#navbarContent ul{
    display: flex;
    font-family: 'Libre Baskerville', serif;
    justify-content: space-between;
}

#navbarContent .contentleft{
    list-style: none;
    color: white;
    font-size: 3rem;
    width: 40%;
    height: auto;
    margin-top: 12rem;
    margin-left: 20rem;
}

#navbarContent .contentright{
    margin-right: 5rem;
    margin-top: 1rem;
} 